@import "tailwindcss";

body {
  background: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.glow { box-shadow: 0 0 25px rgba(220, 38, 38, 0.4); }

@keyframes pulse {
  0% { box-shadow: 0 0 0px rgba(234, 179, 8, 0); }
  50% { box-shadow: 0 0 20px rgba(234, 179, 8, 0.5); }
  100% { box-shadow: 0 0 0px rgba(234, 179, 8, 0); }
}

.active-node { animation: pulse 2s infinite; }